.cabecalho{
    color: plum;
    text-align: center;
}

.main{
    background-color: bisque;
    color: plum;
    text-align: center;
    border: 8px;
    border-color: blueviolet;
    border-style: groove;
    
}


#waneella{
    width: 500px;
}

#kotaki{
    width: 500px;
}